body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 175px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;


}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.sec-para{
    padding-right: 200px;
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-flex{
    box-shadow: 5px 5px 30px black;
    margin: 0 5%;
    padding: 15px;
    border-radius: 10px;
    width: 40%;
}
#full-stack-developer{
    border-left: 8px solid tomato;
}
#baby-web-developer{
    border-left: 8px solid blue;
}
footer p{
    text-align: center;
}